
body {
  background:#3EAAC1;
}




#title, .subtitle, .post_title {
  color:blueviolet ;
}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
background: #FFF;
padding: 10px;
border:3px solid #000 ;
margin: 10px;
}